&-features{
    padding: 2% 7%;
    &-box{
        border:1px solid $services1-border-color;
        padding:4%;
        position: relative;
        &-t{
            position: absolute;
            @include text-property($text-transform:none,
            $font:barlow-semi-bold,$size:20px,
            $color:$primary-text-color);
            //margin: -3% 4% 0 4%;
            background:$secondary-text-color;
            width: 16%;
            text-align: center;
            letter-spacing:1.2px;
            top: -5%;
        
        }
        &-p{
            @include text-property($text-transform:none,$font:barlow-regular,$size:20px,
       $color:$top-heading-color);
       ul{
           padding:2%;
           li{
            letter-spacing: 1.2px;
            line-height: 2;
           }
       }
        }
       }
}