@font-face{font-family: Barlow-bold; src: url(fonts/BarlowCondensed-Bold.ttf)};
 @font-face{font-family: Barlow-semi-bold; src:url(fonts/BarlowCondensed-SemiBold.ttf)};
 @font-face{font-family: Barlow-medium-bold; src:url(fonts/BarlowCondensed-Medium.ttf)};
 @font-face{font-family: Barlow-regular; src:url(fonts/BarlowCondensed-Regular.ttf)};