@media only screen and (min-width : 280px) and (max-width : 768px) {
.wrapper{
    .header{
        background-image: url(../images/home/banner-mobile.jpg);
        &-nav{
            .fa-times{
                color:$secondary-text-color;
                cursor: pointer;
            }
            .fa-ellipsis-h{
                color:$secondary-text-color;
                cursor: pointer;
            }
            .mobile-menu{
                position: relative;
                display:block;
                .fa-bars{
                    color:$secondary-text-color;
                    cursor: pointer;
                }
               
                ul{
                    display: none;
                    position: absolute;
                    z-index: 1;
                    list-style: none;
                    padding: 20px;
                    right: 0;
                    background-color: $text-button-color;
                    li{
                        padding: 10px 20px;
                        a{
                            text-transform: uppercase;
                            text-decoration: none;
                            color: $secondary-text-color;
                            text-align: center;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }
            margin: 2px 20px 0 20px;
            &-menu{
                &-ul{
                    display:none;
                }
            }
        }
    }
    .services{
        .header{
            background-image:url(../images/services/services_bg.jpg);
        }
       
        height: 100%;
        &-about-us{
            flex-direction: column;
            &-box{
                flex-direction: column;
                &-card{
                    width: 100%;
                    &:hover{
                        background-color:#fcf2e8;
                    }
                }
                .borderHori:not(:last-child){
                    border-bottom: 1px solid $about-us-border-color;
                }
                .borderVert {
                    border-left: none;
                   border-right: none;
                   
                   
                 }
                 .borderVert:not(:last-child){
                    border-bottom: 1px solid $about-us-border-color;
                 }
            }
        }
        &-products{
        &-box{
            padding:5%;
            flex-direction: column;
            &-l{
                width: 100%;
                margin-bottom: 5%;
                .para{
                    padding:10px;
                    &-button{
                        width:50%;
                    }
                }
            }
            &-r{
                width: 100%;
                .services-products-slideshow{
                    margin-bottom: -8%;
                }
            }
        }}
    }
    .portfolio-para{
        width: 100%;
        padding:10px;
        margin:0;
        &-text-button{
            width:50%;
        }
    }
    .getintouch{
        background-image: url(../images/home/getintouch_mobile.jpg);
        &-para{
            width: 100%;
            margin:0;
            padding:10px;
           &-contact-us{
            flex-direction: column;
            
           }
           &-text-button{
               width:50%;
           }
        }
    }
    .header-text-button{
        width:50%;
    }
    .portfolio{
        background-image: url(../images/home/portfolio_1_mobile.png);
    }
}
.fa-bars {
color: $secondary-text-color;
}
.contact-us{
    .header{
        background-image: url(../images/contact-us/contactus_bg.jpg);
        background-size: auto;
    }
    .middle-content{
        @include layout($direction:column);
        &-contact-us{
            width:100%;
        }
        &-contact-us-form{
            width:100%;
            &-title{
                padding:10px 0;
            }
            &-fileds{
                padding:0;
            }
                .form-btn{
                    .form-btn-submit{
                        width:50%;
                    }
                }          
        }
       
    }
  
    .project-with-us{
        &-para{
            @include layout($direction:column);
            .para-text{
                width: 100%;
            }
            .number-button{
                width: 100%;
                justify-content: center;
                .project-with-us-button{
                    width: 50%;
                }
            }
        }
        .scroll-btn{
            top: 90%;
        }
    }
}
.about-us{
    .header{
        background-image:url(../images/about-us/aboutus_bg_mobile.jpg);
    }
    .team{
        @include layout($direction:column);
        background-size:auto;
        &-text{
            width:100%;
        }
        &-images{
            width:100%;
            @include layout($direction:column,$padding:10% 0 0 0);
            &-body{
                text-align: center;
            } 
        }
    }
    .mission-statements{
        &-para{
           flex-direction:column;
            &-cards{
                width:100%;
                padding:4%;
            }
        }
    }
    .background{
        background-size:auto;
        &-cards{
            flex-direction:column; 
            &-body{
                padding:4% 0;
            }
        }
        &-button{
            padding: 3%;
            &-btn{
                width: 50%;
            }
        }
    }
    .solution-overview{
        padding: 6% 0;
        &-chart-box{
            height:709px;
            &-parent{
                position: unset;
                .solution-overview-chart-box-line{
               display: none;
            }
            
            .solution-overview-chart-box-info-box{
                position: unset;
                top:unset;
                width:100%;
                margin-left:0;
                @include layout($direction:column);
                .solution-overview-info-box-body{
                    width:100%;
                   
                   
                }
            }
        }
        }
    }
}
.services1{
    .header{
        background-image:url(../images/services/services_bg.jpg);
        background-size: auto;
        &-nav{
            margin:2px 20px 0 20px;
            .header-side-nav{
                display: block;
                padding:20px;
            }
        }
        
    }
    &-content{
        position: relative;
        flex-direction:column;
        &-sidebar{
            position: absolute;
            z-index:1;
            width:70%;
            display: none;
        }
        &-page{
            width: 100%;
            .wrapper-text{
                padding:7% 2%;
            }
            &-wrapper{
                .wrapper-pavement-management{
                    @include layout($direction:column);
                    &-l{
                        width:100%;
                        flex-wrap: wrap;
                        &-year{
                         &-radio{
                             padding:5%;
                             ul{
                                display: flex;
                                li{
                                    input{
                                        width:38px;
                                        margin:unset;
                                    }
                                } 
                             }
                         }
                        }
                        &-rating{
                            &-checkbox{
                                ul{
                                    padding: 7% 0 0 0;
                                    display: flex;
                                    li{
                                        input{
                                            margin-right: 79%;
                                            width: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &-r{
                        width:100%;
                        img{
                            max-width: 100vw;
                        }
                    }
                }
                .wrapper-values{
                    padding:9% 4%;
                    &-b{
                        &-h{
                            margin: -5% 3% 0 3%;
                            width: 40%;
                        }
                        &-t{
                            @include layout($direction:column,$justify:center);
                            &-cards{
                                width:100%;
                            }
                        }
                    }
                }
                .wrapper-unique-feature{
                    &-box{
                        &-heading{
                            margin: -8% 4% 0 4%;
                            width:67%;
                        }
                        .wrapper-unique-feature-box-text-points{
                            ul{
                                padding-left:9%;
                            }
                        }
                    }
                }
            }
        }
    }
}
}

@media screen and (min-width:540px) and (max-width:540px){
    .wrapper{
        .services-products-box-r{
            .slideshow-dot-box{
                margin-top: 51px;
            }
        }
    }
    .about-us{
        .solution-overview{
            &-chart-box{
                height:864px;
    
            }
        }
        .team{
            @include layout($direction:column);
           
            &-images{
                @include layout($direction:row);
            }
        }
    }
}


@media screen and (min-width:280px) and (max-width:280px){
    .wrapper{
        .header{
            &-nav-ul{
                display: none ;
            }
        }
        .services-about-us-box-card{
            padding: 40px 0;
    }
     .services-products-box-r .services-products-slideshow-slides .slideshow-img{
        width: 100%;
    }
    }
    .about-us{
        .solution-overview{
            &-chart-box{
                height:823px;
    
            }
        }
        .background{
           &-scroll-button{
               top:97%;
           }
        }

    }
    .services1{
        .wrapper-pavement-management{
            @include layout($direction:column);
            &-l{
               &-year{
                   &-radio{
                       ul{
                           li{
                               input{
                                   width:22px;
                               }
                           }
                       }
                   }
               }
                &-rating{
                    &-checkbox{
                        ul{
                            li{
                                input{
                                    width: 18px;
                                }
                            }
                        }
                    }
                }
            }
           
        }
    }
}



@media screen and (min-width:768px) and (max-width:768px){
.contact-us{
    .middle-content{
        &-contact-us-form{
            .form-btn{
                .form-btn-submit{
                    width:30%;
                }
            } 
        }
    }
    .project-with-us{
        &-para{
            .number-button{
                .project-with-us-button{
                    width: 30%;
                }
            }
        }
    }
}
.about-us{
    
    .team{
        @include layout($direction:column);
        background-size:auto;
       
        &-images{
            @include layout($direction:row);
            &-body{
                text-align: center;
            } 
        }
    }
    .solution-overview{
        &-chart-box{
            height:969px;

        }
    }
    .background{
        &-button{
            &-btn{
              width:27%;
            }
        }
    }
}
}

@media screen and (min-width:1024px) and (max-width:1024px){
.about-us{
    .team{
        &-text{
            padding:2%;
        }
    }
    .background{
        &-cards{
            &-body{
                padding:2% 3%;
            }
        }
    }
}
}