@mixin layout($direction:null,$justify:unset,$margin:unset,$padding:unset) {
   @if($direction !=null){
      display:flex;
      flex-direction:$direction;
   }
   @if($justify !='unset'){
      justify-content: $justify; 
   }
   
   @if($margin !='unset'){
      margin:$margin;
   }
   @if($padding != 'unset'){
      padding:$padding;
   }
   
}

@mixin text-property($text-transform:uppercase,$size:14px,$color:#ffffff,$font:initial) {
   text-transform: $text-transform;
  font-size: $size;
  color:$color ;
  font-family:$font;
}

@mixin headingLine($background:$text-button-color) {
   display: block;
   width: 45px;
   height: 3px;
   background: $background;
   margin: 20px auto;
   
}

@mixin textButton($width:16%,$height:58px,$background:$text-button-color) {
   background:$background;
   font-family: Barlow-bold;
   width: $width;
   color: $secondary-text-color;
   outline: none;
   border: none;
   align-self: center;
   height: $height;
   font-size: 20px;
   border-radius: 30px;
}


@mixin aboutUsCard {
   @include layout($direction:row,$justify:space-between);
                &-card{
                    width: 33.3%;
                    flex-wrap: wrap;
                    padding: 40px;
                    text-align:center;
                    &:hover{
                     background-color:#fcf2e8;
                     cursor: pointer;
                 }
                    &-text{
                        .big-text{
                             @include text-property($size:35px,$font:Barlow-semi-bold,
                             $color:$top-heading-color,$text-transform:unset);
                        }
                        .small-text{
                            @include text-property($size:20px,$font:Barlow-semi-bold
                            ,$color:$top-heading-color,$text-transform:unset);

                        }
                    }
                }
   
}


@mixin slideshoe_dot {
   background-color: $text-button-color;
   height: 17px;
   width: 17px;
}

