$primary-text-color:#000000;
$secondary-text-color:#ffffff;
$menu-text-color:#2e2418;
$text-transform:uppercase;
$text-button-color:#e27f21;
$services-background-color:#ffffff;
$top-heading-color:#474747;
$about-us-border-color:#dbdbdb;