$primary-text-color:#000000;
$secondary-text-color:#ffffff;
//$menu-text-color:#2e2418;
$menu-text-color:#000000;
$text-transform:uppercase;
$text-button-color:#e27f21;
$services-background-color:#ffffff;
$top-heading-color:#474747;
$about-us-border-color:#dbdbdb;
$about-us-heading-text:#262626;
$about-us-form-label-text:#5d5f5d;
$about-us-form-background-color:#0a000091;
$about-us-subtitle-color:#706b68;
$mission-statements-background:#ff9d3c;
$mission-statements-border:#ffffff87;
$about-us-background-text-color:#e2801f;
$services1-border-color:#ccc6c6;