@import '__mixin.scss';
@import '__variable.scss';
@import '__fonts.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:$primary-text-color;
   // letter-spacing: 1.5px;
}

.wrapper{
    @include layout($direction:column);
    .header{
        @include layout($direction:column,$padding:0 0 145px 0);
        //position: relative;
        background-image: url(../images/home/banner.jpg);
        background-size: 100% 100%;
        &-nav{
            .mobile-menu{
                display: none;
            }
            @include layout($direction:row,$justify:space-between,$margin:2px 50px 0 50px); 
            &-logo{
                @include layout($direction:row,$justify:flex-start); 
               
            }
            &-menu{
                @include layout($direction:row,$justify:flex-end,$padding:20px);
                &-ul{
                    list-style-type: none;
                    @include layout($direction:row,$justify:space-between); 
                    &-li{
                        @include layout($margin:10px);
                        &-a{
                            @include text-property($size:18px,
                            $color:$menu-text-color,$font:Barlow-medium-bold);
                            text-decoration: none;
                            &:hover{
                            @include text-property($size:18px,$font:Barlow-bold);
                              
                            }
                        }
                        
                    }
                    
                }
                
            }
        }
        &-text{
            text-align: center;
            @include layout($direction:column,$padding:138px 0 0 0,$justify:center);
           &-big-title{
            @include layout($padding:0 0 10px 0);
           @include text-property($size:72px,$color:$secondary-text-color,$font:Barlow-semi-bold);
           }
           &-small-title{
            @include text-property($size:20px,$color:$secondary-text-color,
            $font:Barlow-medium-bold);
           }
           &-button{
               margin-top: 52px;
               @include textButton();
           }
        }
    }

    .services{
        background-image: url(../images/home/services_bg.jpg);
        background-size: 100% 100%;
        height: 938px;
        //position: relative;
        &-about-us{
            border-radius: 10px;
            @include layout($padding:25px 30px,$justify:center,$direction:column);
            background-color: $services-background-color;
            width: 75%;
            // top:80%;
            // left:12.5%;
            margin-top: -4.5%;
            margin-left: 12.5%;
            //position: absolute;
            &-top{
                text-align: center;
                .top-heading{
                    @include text-property($size:40px,$color:$top-heading-color
                    ,$font:Barlow-semi-bold);
                }
                .horizontal-line{
                   @include headingLine;
                }
            }
            &-box{
                @include aboutUsCard;
            }
            
        }
        &-products{
            margin-top: 5%;
            &-heading{
                text-align: center;
               
                    .top-heading{
                        @include text-property($size:40px,$color:$secondary-text-color
                        ,$font:Barlow-semi-bold);
                    }
                    .horizontal-line{
                       @include headingLine;
                    }
                  
            }
            &-box{
            @include layout($direction:row,$justify:space-between,$padding:10px);
            &-l{
               width: 50%; 
               .para{
                line-height: 2;
                text-align: left;
                padding-left:63px;
                &-button{
                    @include textButton($width:36%,$height:58px);
                    margin-top:46px;
                }
             .para-text{
                 @include text-property($text-transform:unset,$font:Barlow-regular,$size:24px);
             }
            }              
            }
            &-r{
                width: 50%;
                .services-products-slideshow{
                    max-width: 1000px;
                    position: relative;
                    margin: auto;
                    &-slides{
                        padding: 0px 50px;
                        display: block;
                        .slideshow-slides-shadow{
                            width:85%;
                            height: 248px;
                            background: linear-gradient(45deg, #908d8d0a, #80787854, #bfbaba26);
                            border-radius: 15px;
                            //padding:0 30px;
                            margin-left: -28px;
                            position: absolute;
                            margin-top:30px;
                        }
                        .slideshow-img{
                            position: relative;
                            width: 90%;
                            height: 300px;
                            border-radius: 15px;
                            }
                    }
                    .fade{
                        animation-name: fade;
                        animation-duration: 1.5s;
                    }
                    @-webkit-keyframes fade {
                        from {opacity: .4} 
                        to {opacity: 1}
                      }
                      
                      @keyframes fade {
                        from {opacity: .4} 
                        to {opacity: 1}
                      }
                }
                .slideshow-dot-box{
                    text-align: center;
                    margin-top: 30px;
                    .dot{
                        cursor: pointer;
                        height: 15px;
                        width: 15px;
                        margin: 0 2px;
                        background-color:$top-heading-color;
                        border-radius: 50%;
                        display: inline-block;
                        transition: background-color 0.6s ease;
                        &:hover{
                            @include slideshoe_dot;
                        }
                    }
                    .active{
                        @include slideshoe_dot;
                    }
                }
            }
            }
        }

    }

    .portfolio{
        background-image: url(../images/home/portfolio_1.png);
        background-size: 100% 100%;
        &-heading{
            padding: 30px 0 0 0;
            text-align: center;
            .top-heading{
                @include text-property($size:40px,$color:$secondary-text-color
                ,$font:Barlow-semi-bold);
            }
            .horizontal-line{
               @include headingLine($background:$secondary-text-color);
            }

        }
       
        &-para{
            text-align: center;
            &-text{
            @include text-property($size:18px,$text-transform:unset,
            $font:Barlow-regular);
            line-height: 2;
                      }
            width: 40%;
            margin:0 30% 0 30%;
            &-text-button{
                margin:40px;
             @include textButton($background:transparent,$width:40%);
             border:2px solid $secondary-text-color;
            }
        }
    }

    .getintouch{
        background-image: url(../images/home/getintouch.jpg);
        background-size: 100% 100%;
        &-heading{
            padding: 30px 0 0 0;
            text-align: center;
            .top-heading{
                @include text-property($size:40px,$color:$text-button-color
                ,$font:Barlow-semi-bold);
            }
            .horizontal-line{
               @include headingLine($background:$secondary-text-color);
            }

        }
       
        &-para{
            text-align: center;
            &-text{
            @include text-property($size:18px,$text-transform:unset,
            $font:Barlow-regular);
            line-height: 2;
                      }
            width: 40%;
            margin:0 30% 0 30%;
            &-contact-us{
                @include layout($direction:row,$justify:space-between);
                .getintouch-para-address{
                   
                    &-icon{
                        padding:20px;
                    }
                    &-text{
                        text-align: center;
                        @include text-property($size:18px,$text-transform:unset,
                        $font:Barlow-regular);
                        line-height: 2;
                    }
                }
                .getintouch-para-contact{
                   
                    &-icon{
                        padding:20px;
                    }
                    &-text{
                        text-align: center;
                        @include text-property($size:18px,$text-transform:unset,
                        $font:Barlow-regular);
                        line-height: 2;
                    }
                }
                
            }
            &-text-button{
                margin:40px;
             @include textButton($background:transparent,$width:40%);
             border:2px solid $secondary-text-color;
            }
        }
    }

    .footer{
        padding:40px;
        font-family: Barlow-semi-bold;
        @include layout($direction:column,$justify:center);
        &-logo{
            object-fit: contain;
        }
        &-privacy-text{
            text-align: center;
            padding:30px;
            span{
                padding:0 40px 0 40px;
                border-left: 1px solid $primary-text-color;
                border-right: 1px solid $primary-text-color;
                white-space: nowrap;
            }
        }
        &-copyright-text{
            text-align: center;
        }
    }
}



.borderHori {
    border-bottom: 1px solid  $about-us-border-color;
  }

  .borderVert {
    border-left: 1px solid $about-us-border-color;
   border-right: 1px solid $about-us-border-color;
 }

 .know-text{
    color:$text-button-color !important;
}

.contact-us{
    .header{
        background-image: url(../images/contact-us/contactus_bg.jpg);
        &-text{
            padding:6% 10% 0 10%;
            &-small-title{
            text-transform: none;
            font-family:Barlow-regular;
            }
        }
    }
    .active{
     color:$secondary-text-color;
    }
    .middle-content{
        @include layout($direction:row);
        &-contact-us{
            width:50%;
            @include layout($direction:column,$padding:50px);
            &-heading{
                   padding:10px;
                    text-align: center;
                .top-heading{
                    @include text-property($size:40px,$color:$about-us-heading-text
                    ,$font:Barlow-semi-bold);
                }
                .horizontal-line{
                   @include headingLine;
                }
            }
            &-address{
                text-align: center;
                @include text-property($size:24px,$color:$top-heading-color
                ,$font: Barlow-regular);
                @include layout($padding:10%);
                line-height: 2;
                text-transform: none;
            }
            &-call{
                @include layout($padding:10%);
                &-text{
                    text-align: center;
                    @include text-property($size:24px,$color:$top-heading-color
                    ,$font: Barlow-regular);
                }
                &-number{
                    @include layout($padding:10px);
                    text-align: center;
                    @include text-property($size:50px,$color:$top-heading-color
                    ,$font: Barlow-medium-bold);
                }
            }
        }
        &-contact-us-form{
            width:50%;
            @include layout($direction:column,$padding:50px);
            background-image: url(../images/contact-us/form.jpg);
            background-size: 100% 100%;
            //height: 636px;
            &-title{
                @include layout($direction:column,$padding:10px);
                text-align: left;
                &-big{
                 @include text-property($size:40px,$font:Barlow-bold);
                }
                &-small{
                    @include layout($padding:40px 0 0 0);
                    @include text-property($size:14px,$font:Barlow-regular);
                    letter-spacing: 1.5px;
                }
            }
            &-fileds{
                padding:10px;
                .form-group{
                    position: relative;
                    .label{
                        @include text-property($text-transform:none,$color:$about-us-form-label-text,$size:18px
                        ,$font:Barlow-regular);
                        position: absolute;
                        top: 40%;
                        left: 5%;
                        letter-spacing: 1.5px;
                        
                    }
                    .label-textarea{
                       
                        top: 27%;
                    }
                    .form-control{
                        width: 100%;
                        padding: 5%;
                        margin: 4% 0;
                        display: inline-block;
                        border: 1px solid $about-us-form-background-color;
                        background:$about-us-form-background-color;
                    }
                }
                .form-btn{
                    .form-btn-submit{
                        margin:4% 0 0 0;
                        @include textButton($background:$text-button-color,$width:30%);
                        border:1px solid $text-button-color;
                        height: 46px;
                        font-family:Barlow-medium-bold;
                        font-size:18px;
                    }
                }
            }
        }
    }

    .googleMap{
        width: 100%;
        .iframe{
            height: 500px;
            width: 100%;
        }
    }
    .project-with-us{
        position: relative;
        background-color: #5d5f5d;
        @include layout($direction:column,$padding:4%);
        &-title{
            text-align: left;
        .top-heading{
            @include text-property($size:50px,$color:$secondary-text-color
            ,$font:Barlow-medium-bold);
        }
        .horizontal-line{
           @include headingLine;
           margin: 20px 0 0 0;
        }
        }
        &-para{
            @include layout($direction:row,$justify:space-between);
            .para-text{
                width: 50%;
                margin:2% 0 0 0;
                @include text-property($size:14px
            ,$font:Barlow-regular);
            letter-spacing:2.5px;
            line-height: 2;
            }
            .number-button{
                width: 50%;
                @include layout($direction:row,$justify:flex-end);
                .project-with-us-button{
                    margin:2% 0 0 0;
                    @include textButton($background:$text-button-color,$width:30%);
                    border:1px solid $text-button-color;
                    height: 46px;
                    font-family:Barlow-medium-bold;
                    font-size:18px;
                }
            }
        }
    }
    .scroll-btn{
        position: absolute;
        top: 83%;
        right: 4%;
        cursor: pointer;
    }
}

.about-us{
    .header{
        background-image: url(../images/about-us/aboutus_bg.jpg);
        background-size: 100% 100%;
        &-text{
            padding:8% 22% 0 22%;
            &-small-title{
            font-size: 20px;
            text-transform: none;
            font-family:Barlow-regular;
            }
            &-middle-title{
                @include text-property($font:Barlow-bold,$size:24px);
                padding:2%;
            }
        }
    }
    .team{
        @include layout($direction:row,$justify:center,$padding:2% 5%);
        background-image: url(../images/about-us/team_bg.jpg);
        background-size: 100% 100%;
        &-text{
            width: 50%;
            @include layout($direction:column,$justify:center);
            &-title{
                .top-heading{
                    @include text-property($size:35px,$color:$primary-text-color
                    ,$font:Barlow-bold);
                }
                .horizontal-line{
                   @include headingLine;
                   margin:20px 0;
                }
            }
            &-para{
                p{
                 @include text-property($text-transform:none,$size:20px,
                 $color:$primary-text-color,$font:'Barlow-medium-bold'
                 );
                }
                .team-sign-text{
                    padding:8% 0 0 0;
                }
             }
        }
       
        &-images{
            width:50%;
            @include layout($direction:row,$justify:center);
            &-body{
                padding: 5%;
                &-image{
                    border-radius: 5px;
                    border:5px solid $text-button-color;
                    height: 80%;
                }
                .team-images-text{
                    padding-top: 4%;
                    text-align: center;
                    &-title{
                        @include text-property($text-transform:none,$size:20px,$color:$primary-text-color,$font:Barlow-medium-bold);
                    }
                    &-subtitle{
                        @include text-property($text-transform:none,$size:16px,$color:$about-us-subtitle-color,$font:Barlow-medium-bold);
                    }
                }
                
            }
        }
    }
    .mission-statements{
        @include layout($direction:column,$justify:space-between);
        background-color: $mission-statements-background;
        &-title{
            text-align: center;
            padding: 2% 0 0 0;
            .top-heading{
                @include text-property($size:35px,$color:$primary-text-color
                ,$font:Barlow-bold);
            }
            .horizontal-line{
               @include headingLine;
               background:$mission-statements-border;
            }
        }
        &-para{
            @include layout($direction:row,$justify:space-between,$padding:0 4% 4% 4%);
            &-cards{
                width:33.33%;
                padding: 3% 4% 0 4%;
                text-align: center;
                &-text{
                    @include text-property($text-transform:none,$size:20px,$font:'Barlow-regular');

                }
                &:nth-child(2){
                    border-right: 1px solid $mission-statements-border;
                    border-left: 1px solid $mission-statements-border;
                }
            }
        }
    }
    .solution-overview{
        @include layout($direction:column);
        &-title{
            text-align: center;
            padding:2%;
            .top-heading{
                @include text-property($size:35px,$color:$top-heading-color
                ,$font:Barlow-bold);
                
            }
            .horizontal-line{
               @include headingLine;
            }
        }
        &-chart-box{
            @include layout($direction:column);
            text-align: center;
            width: 90%;
            margin-left: 5%;
            box-shadow: 0px 1px 16px 2px #8080803b;
            border-radius: 23px;
            padding:2%;
            height:554px;
                &-logo{
                    margin: 0 0 4% 0;
                }
            &-parent{
                @include layout($direction:column);
                position: relative;
                .solution-overview-chart-box-line{
                @include layout($direction:row);
                &-left{
                    border-top:5px solid $text-button-color;
                    border-left:5px solid $text-button-color;
                    border-top-left-radius:20px;
                    border-top-right-radius:1px;
                    height: 100px;
                    width:50%;
                    margin-left:15%;
                }
                &-right{
                    border-top:5px solid $text-button-color;
                    border-left:5px solid $text-button-color;
                    border-right:5px solid $text-button-color;
                    border-top-left-radius:1px;
                    border-top-right-radius:20px;
                    height: 100px;
                    width:50%;
                    margin-right:15%;
                }
            }
            
            .solution-overview-chart-box-info-box{
                
                position: absolute;
                top:69%;
                width:100%;
                @include layout($direction:row);
                .solution-overview-info-box-body{
                    padding:2%;
                    @include layout($direction:column);
                    width:33.33%;
                    .solution-overview-info-box-card{
                         background-color:$text-button-color;
                         padding:5%;
                         margin:2% 2%;
                         border-radius: 5px;
                         @include text-property($text-transform:none,$size:18px,$color:$secondary-text-color);
                    }
                    .solution-overview-info-box-text{
                        text-align:left;
                        padding:5%;
                        margin:0 2%;
                        @include text-property($text-transform:none,$size:18px,
                        $font:Barlow-medium-bold);
                        ul{
                            list-style-image: url(../images/icons/bullet.png);
                        }
                    }
                }
            }
        }
        }
    }
    .background{
        margin-top:10%;
        @include layout($direction:column,$justify:center);
        padding:3% 5%;;
        position: relative;
        background-image: url(../images/about-us/corporate.jpg);
        background-size:100% 100%;
        &-title{
            text-align: center;
            .top-heading{
                @include text-property($size:40px
                ,$font:Barlow-semi-bold);
            }
            .horizontal-line{
               @include headingLine;
            }
        }
        &-para{
            padding:5%;
            p{
            text-align: center;
            letter-spacing: 1.5px;
            line-height:1.5;
            @include text-property($text-transform:none,$font:Barlow-regular,$size:20px);
        }
       }
       &-cards{
           padding:2%;
           @include layout($direction:row,$justify:center);
           &-body{
               text-align: center;
            @include layout($direction:column,$justify:space-between,$padding:2% 5%);
               .background-cards-title{
                  @include text-property($size:20px,$font:Barlow-semi-bold);
               }
               .background-cards-desc{
                @include text-property($size:34px,$font:Barlow-semi-bold,$color:$about-us-background-text-color);
            }
            .background-cards-footer{
                @include text-property($size:20px,$font:Barlow-regular);
            }
           }
       }
       &-button{
           @include layout($direction:column,$justify:center);
           &-btn{
            @include textButton($background:transparent,$width:13%);
            border:2px solid $text-button-color;
            height:45px;
            text-transform: uppercase;
            font-size:16px;
           }
       }
       &-scroll-button{
            position: absolute;
            top: 92%;
            right: 4%;
            cursor: pointer;
       }
    }
    .active{
        color:$secondary-text-color;
       }
}


.services1{
    .header{
        background-image:url(../images/services/services_bg.jpg);
        background-size:100% 100%;
        height: auto;
        padding:0 0 10% 0;
        .header-side-nav{
            display: none;
        }
        &-text{
            padding:2%;
            &-big-title{
                padding:2%;
                font-size:40px;
            }
        }
    }
    &-content{
        @include layout($direction:row);
        &-sidebar{
            width:16%;
            box-shadow:0px 0px 20px 0px #8080807d;
            margin-top: -19%;
            border-top-right-radius: 40px;
            //border-bottom-right-radius: 40px;
            background-color:#ffffff;
            ul{
                list-style-type: none;
                li{
                    border-bottom: 1px solid $primary-text-color;
                    padding:6% 7%;
                    a{
                        text-decoration: none;
                        .heading{
                        @include text-property($size:24px,$font:Barlow-bold,
                        $color:$primary-text-color);
                        }
                        .subheading{
                        @include text-property($text-transform:capitalize,$size:18px,$font:Barlow-regular,
                        $color:$top-heading-color);
                         padding: 9% 0 0 0;
                         
                        }
                         
                    }
                   
                    ul{
                        li{
                            border:none;
                            a{
                                .subheading{
                                    @include text-property($text-transform:capitalize
                                    ,$size:20px,$font:Barlow-regular,
                                    $color:$top-heading-color);
                                     padding: 9% 0 0 0;
                                     color:$top-heading-color !important;
                                    }
                                    
                            }
                        }
                    }
                    
                }
                #having-subheading{
                    display: none;
                }
               
            }
        }
        &-page{
          width:84%;
          &-wrapper{
              @include layout($direction:column,$justify:center);
              .wrapper-text{
                  text-align: center;
                  padding:4% 2%;
                  p{
                   @include text-property($text-transform:none,$font:barlow-regular,$size:20px,
                   $color:$top-heading-color);
                  }
              }
              .wrapper-unique-feature{
                   padding:2%;
                   
                   &-box{
                    border:1px solid $services1-border-color;
                    padding:2% 4%;
                    &-heading{
                        @include text-property($text-transform:none,
                        $font:barlow-semi-bold,$size:20px,
                        $color:$primary-text-color);
                        margin: -3% 4% 0 4%;
                        background:$secondary-text-color;
                        width: 16%;
                        text-align: center;
                        letter-spacing:1.2px;
                    
                    }
                    &-text-points{
                        @include text-property($text-transform:none,$font:barlow-regular,$size:20px,
                   $color:$top-heading-color);
                   ul{
                       padding:2%;
                       li{
                        letter-spacing: 1.2px;
                        line-height: 2;
                       }
                   }
                    }
                   }
              }
              .wrapper-pavement-management{
                  @include layout($direction:row,$justify:space-between,$padding:2%);
                  &-l{
                      width:30%;
                      padding:3%;
                      &-year{
                          &-title{
                            border-bottom: 1px dashed black;
                            padding: 0 0 4% 0;
                            @include text-property($text-transform:none,$font:Barlow-bold,
                            $color:$primary-text-color,$size:18px);
                            margin-right:15%;
                          }
                          &-radio{
                            padding: 10% 5%;
                              ul{
                                  list-style-type: none;
                                  li{
                                    padding: 2% 0;
                                      @include text-property($font:'Barlow-semi-bold'
                                      ,$text-transform:none,$color:$menu-text-color);
                                      
                                      input{
                                          margin-right: 6%;
                                          width: 15px;
                                          
                                      }
                                     
                                  }
                              }
                          }
                      }
                      &-rating{
                          &-title{
                            border-bottom: 1px dashed black;
                            padding: 0 0 4% 0;
                            @include text-property($text-transform:none,$font:Barlow-bold,
                            $color:$primary-text-color,$size:18px);
                            margin-right:15%;
                          }
                          &-checkbox{
                            ul{
                                list-style-type: none;
                                padding:2%;
                                li{
                                    @include text-property($font:'Barlow-semi-bold'
                                    ,$text-transform:none,$color:$menu-text-color);
                                    margin-top:-3%;
                                    input{
                                        margin-right: 10%;
                                        width: 15px;
                                        margin-bottom: 0;
                                        
                                    }
                                    .good ~span{
                                        color:#03ae50;
                                        font-size:26px;
                                        padding-right:2%;
                                    }
                                    .fair ~span{
                                        color:#ffc001;
                                        font-size:26px;
                                        padding-right:2%;
                                    }
                                    .poor ~span{
                                        color:#ed7d31;
                                        font-size:26px;
                                        padding-right:2%;
                                    }
                                    .very-poor ~span{
                                        color:#fe0000;
                                        font-size:26px;
                                        padding-right:2%;
                                    }
                                    .n-a ~span{
                                        color:#7f7f7f;
                                        font-size:26px;
                                        padding-right:2%;
                                    }
                                   
                                }
                            }
                          }
                      }
                  }
                  
                  &-r{
                      img{
                          width: 100%;
                      }
                    width:70%;
                    &-heading{
                        @include text-property($text-transform:capitalize,
                        $font:Barlow-bold,$size:40px,
                        $color:$top-heading-color);
                        text-align: center;
                        padding: 2%;
                        max-width: 100%;
                    }
                }
              }
              .wrapper-values{
                  padding:4% 4%;
                  &-b{
                    border:1px solid $services1-border-color;
                    //padding:2% 4%;
                    &-h{
                    @include text-property($text-transform:none,
                    $font:barlow-semi-bold,$size:20px,
                    $color:$primary-text-color);
                    margin: -1% 3% 0 3%;
                    background:$secondary-text-color;
                    width: 16%;
                    text-align: center;
                    letter-spacing:1.2px;
                    }
                    &-t{
                        @include layout($direction:row,$justify:space-between);
                        padding:4% 0 0 0;
                        &-cards{
                            padding: 2% 4%;
                            width:33.33%;
                            text-align: center;
                            &-icon{
                                padding:2%;
                            }
                            &-heading{
                                @include text-property($text-transform:capitalize,
                                $font:barlow-semi-bold,$size:24px,
                                $color:$primary-text-color);
                                padding:2% 6%;
                            }
                            &-desc{
                                @include text-property($text-transform:none,
                                $font:barlow-regular,$size:20px,
                                $color:$primary-text-color);
                                padding:2% 0;
                                line-height:2;
                                letter-spacing:1.5px;
                            }
                        }
                    }
                  }
                  &-footer{
                    padding: 4%;
                    font-size: 40px;
                    letter-spacing: 1.5px;
                    font-family: 'Barlow-semi-bold';
                    text-align: center;
                    color:$top-heading-color;
                  }
              }
          }
          .footer{
            border-top: 1px solid $services1-border-color;
          }
        }
    }
    .active{
        color:$secondary-text-color;
    }
    .active-sidebar{
        background-color: $text-button-color;
        border:none;
        border-top-right-radius: 30px;
        a{
            .subheading{
                text-transform: uppercase;
                font-family: barlow-regular;
                color:$secondary-text-color;
            }
        }
    }
}
 @import '__media.scss';