@import '__mixin.scss';
@import '__variable.scss';
@import '__fonts.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:$primary-text-color;
   // letter-spacing: 1.5px;
}

.wrapper{
display:flex;
flex-direction: column;
@import 'home/__header.scss';
@import 'home/__services.scss';
@import 'home/__news.scss';
@import 'home/__getintouch.scss';
@import 'home/__footer.scss';
}
.contact-us{
    @import 'contactus/__header.scss';
    @import 'contactus/__middle-content.scss';
    .googleMap{
        width: 100%;
        .iframe{
            height: 500px;
            width: 100%;
        }
    }
 @import 'contactus/__project_with_us.scss';
 .active{
    color:$secondary-text-color;
   } 
}
.about-us{
    @import 'about_us/_header';
    @import 'about_us/_team';
    @import 'about_us/__mission-statement';
    @import 'about_us/__solution-overview';
    @import 'about_us/__background';
    .active{
        color:$secondary-text-color;
       }
}

.services1{
    @import 'services/__header';
    &-content{
        display:flex;
        @import 'services/__sidebar';
        @import 'services/__page';
    }
    .active{
        color:$secondary-text-color;
    }
    @import 'services/__footer';
    
}
.services2{
    @import 'services2/__header';
    .services1-content{
        &-sidebar{
            margin-top:-16%;
        }
        @import 'services2/__page';
    }
}
.services3{
    @import 'services3/__header';
        .services1-content{
        &-sidebar{
            margin-top: -16%;
            ul:first-child{
            border:none;
            }
            .active-sidebar{
                border-bottom: 1px solid black;;
            }
                }
      
                @import 'services3/__page';
            }
}

@import 'services4/__page';

.services5{
    .bullet{
        @include bullet;
    }
@import 'services5/__page';
}
.services6{
    .bullet{
      @include bullet;
    }
    .services1-content{
 @import 'services6/__page';
    }
}

.borderHori {
    border-bottom: 1px solid  $about-us-border-color;
  }

  .borderVert {
    border-left: 1px solid $about-us-border-color;
   border-right: 1px solid $about-us-border-color;
 }

 .know-text{
    color:$text-button-color !important;
}
@import '__mobile-nav.scss';

 @import '__media.scss';