&-sidebar{
    width:16%;
    box-shadow:0px 0px 20px 0px #8080807d;
    margin-top: -19%;
    border-top-right-radius: 40px;
    //border-bottom-right-radius: 40px;
    background-color:#ffffff;
    ul>li:first-child{
            border-top-right-radius: 30px;
            border-bottom:none;
    }
    ul{
        list-style-type: none;
        li{
            border-bottom: 1px solid $primary-text-color;
            padding:6% 7%;
            a{
                text-decoration: none;
                .heading{
                @include text-property($size:24px,$font:Barlow-bold,
                $color:$primary-text-color);
                }
                .subheading{
                @include text-property($text-transform:capitalize,$size:18px,$font:Barlow-regular,
                $color:$top-heading-color);
                 padding: 9% 0 0 0;
                 
                }
                 
            }
           
            ul{
                li{
                    border:none;
                    a{
                        .subheading{
                            @include text-property($text-transform:capitalize
                            ,$size:20px,$font:Barlow-regular,
                            $color:$top-heading-color);
                             padding: 9% 0 0 0;
                             color:$top-heading-color !important;
                            }
                            
                    }
                }
            }
            
        }
        #having-subheading{
            display: none;
            border:none;
        }
       
       
    }
}

.active-sidebar{
    background-color: $text-button-color;
    a{
        .subheading{
            text-transform: uppercase;
            font-family: barlow-regular;
            color:$secondary-text-color;
        }
    }
}