.header{
        
    padding-bottom:5%;
        &-text{
            &-big-title{
                width:84%;
                margin-left:16%;
                padding: 2%;
            }
        }
    } 