.news{
    padding:0 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    &-title{
        text-align: center;
        padding:2%;
        .top-heading{
            @include text-property($size:40px,$color:$top-heading-color
            ,$font:Barlow-semi-bold);

        }
        .horizontal-line{
           @include headingLine;
        }
    }
    &-description{
        display: flex;
        justify-content: space-between;
        padding:0 10%;
        &-cards{
            &:hover{
                background-color:#fcf2e8;
                cursor: pointer;
            }
            //@include layout($direction:column,$justify:space-between);
            width: 50%;
            padding: 6% 11%;
            text-align:center;
            &-t{
                @include text-property($size:35px,$font:Barlow-semi-bold,
                $color:#aaaaaa,$text-transform:none);
                padding-bottom: 3%;
                // text-align: center;
                // display: flex;
                // flex-direction: column;
                // width:40%;
            }
            &-d{
                @include text-property($size:20px,$font:Barlow-medium-bold
                ,$color:#6b6b6b,$text-transform:none);
                letter-spacing: 1px;
                line-height: 32px;
                // text-align: center;
                // display: flex;
                // flex-direction: column;
                // width:40%;
            }
        }
    }
   
}

.news>.news-description:nth-last-child(2){
    .news-description-cards:first-child{
        border-right:2px solid $about-us-border-color;  
    }
  }
    .news>.news-description:last-child{
  .news-description-cards:first-child{
      border-right:2px solid $about-us-border-color;
      border-top:2px solid $about-us-border-color;
  }
  .news-description-cards:last-child{
    border-top:2px solid $about-us-border-color;
   
}
    }